section#url_table_area.container.section
    .url_table_body.section
        table.section.stripped.highlight.center.responsive-table
            thead
                tr
                    th Orginal URL
                    th AURLS URL
                    th Visits
                    th Del
            tbody
                each aurl in aurls_urls
                    tr
                        td #[a(href=aurl.full_url) #{aurl.full_url} ]
                        td #[a(href=aurl.short_url) #{aurl.short_url} ]
                        td #[a(href=aurl.short_url) #{aurl.clicks} ]
                        td #[a(href="/delete/" + aurl.short_url) #[i.material-icons delete]]

